@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: black;
}

/*Key Frame*/
@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/*Design for buttons*/
.btn-gradient-animate {
  background: linear-gradient(270deg, #d65aff, #ff5da1, #d351ff);
  background-size: 200% 200%;
  animation: gradient-x 10s linear infinite;
}
.animate-gradient-bg {
  background-size: 200% 200%;
  animation: gradient-bg 12s ease infinite;
}

/*Genre Carousel custom styles */

.swiper-button-prev,
.swiper-button-next {
  transform: translateY(-30%) !important;
  height: 40px !important;
  width: 30px !important;
  background: rgba(0, 0, 0, 0.55) !important;
  border: 1px solid rgba(255, 255, 255, 0.12) !important;
  color: #ffffff !important;
  border-radius: 6px !important;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 12px !important;
  height: 12px !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #ff006a !important;
}
